@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.location-text, .phone-text{
    color: rgb(105, 119, 138);
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    font-style: normal;
}

.location-title, .phone-title{
    color: rgb(0, 163, 255);
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
}

.phone-title{
    color: #fff;
}

.menu-item{
    color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

.--active{
    color: rgb(0, 163, 255);
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
}

.title-card{
    color: rgb(33, 33, 33);
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 100%;
}

.text-card{
    color: rgb(33, 33, 33);
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 150%;
}

.title-card-two{
    color: rgb(0, 163, 255);
    font-family: "Poppins", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 100%;
}

.price{
    color: rgb(33, 33, 33);
    font-family: "Poppins", sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 100%;
}

.item-card-two{
    color: rgb(33, 33, 33);
    font-family: "Poppins", sans-serif;
font-size: 13px;
font-weight: 400;
line-height: 100%;
}

.time-text{
    color: rgb(33, 33, 33);
    font-family: "Poppins", sans-serif;
font-size: 12px;
font-weight: 700;
line-height: 100%;
}

.w{
    color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
font-size: 13px;
font-weight: 400;
line-height: 100%;
}

.wr{
    color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
font-size: 12px;
font-weight: 700;
line-height: 100%;
}